.puzzle-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;    
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;    
}

.puzzle-cell {
    border: 1px solid #563232;
    background-color: #84240c;
    color: #ffc18c;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Abel'
}

.puzzle-cell-empty {
    border: 1px solid #563232;
    background-color: #e7cfb4;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}